@page
@using Ticket_Hive.Data.Models;
@model Ticket_Hive.UI.Pages.Member.BookingPageModel
@{
	@if (!string.IsNullOrEmpty(Model.Name) || !string.IsNullOrEmpty(Model.EventType) || !string.IsNullOrEmpty(Model.Location))
	{
		if (Model.SearchResults.Any())
		{
			<h2>Search Results:</h2>
			<ul>
				@foreach (var result in Model.SearchResults)
				{
					  <li>
                    <a href="@Url.Page("Member/Evenemang", new { id = result.Id })">@result.Name (@result.EventType) - @result.Location - @result.DateTime</a>
                </li>
				}
			</ul>
		}
		else
		{
			<p>No results found.</p>
		}
	}
}
<form method="get">
	<label for="name">Name:</label>
	<input type="text" id="name" name="name" />

	<label for="eventType">Event Type:</label>
	<input type="text" id="eventType" name="eventType" />

	<label for="location">Location:</label>
	<input type="text" id="location" name="location" />

	<button type="submit">Search</button>
</form>


<div class="container">
	@foreach (var ev in Model.Events)
	{
		if (ev.TicketsSold >= ev.Capacity)
		{
			<p>@ev.Name</p>
			<p>@ev.EventType</p>
			<p>@ev.Location</p>
			<label>Sold out</label>
		}
		else
		{
			<p>@ev.Name</p>
			<p>@ev.EventType</p>
			<p>@ev.Location</p>
			<p>@ev.Price</p>
			<p>@ev.DateTime</p>
			<li>
				<a href="@Url.Page("Events/Details", new { id = ev.Id })">Go To Event</a>
			</li>
		}


	}
</div>

	


