@page
@using Ticket_Hive.Data.Models;
@model Ticket_Hive.UI.Pages.Member.BookingPageModel
@{
	bool showSearchResults = !string.IsNullOrEmpty(Model.search);
}
<style>
	body {
		background-color: #fbe89c;
	}
	a:hover {
		cursor: pointer;
		
	}
	.sold-out{
		background:red;
	}

	a {
		text-decoration: none; 
		color: #305076;
	}

</style>

<form method="get">
	<label for="search">Search:</label>
	<input type="text" id="search" name="search" />

	<button type="submit">Search</button>
</form>



@if (showSearchResults)
{
	<h2>Search Results:</h2>
	<div class="container">
		@foreach (var result in Model.SearchResults)
		{
			@if (result.TicketsSold >= result.Capacity)
			{
				<div>
					<span class="sold-out">
						<span>@result.Name</span>
						<span>@result.EventType</span>
						<span>@result.Location</span>
						<span>SOLD OUT</span>
					</span>
				</div>
			}
			else
			{
				<div>
					<a asp-page="/Member/Evenemang" asp-route-id="@result.Id">
						<span class="LeftInfo">
							<span>@result.Name</span>
							<span>@result.EventType</span>
						</span>
						<span class="RightInfo">
							<span>@result.Location</span>
							<span>@result.Price :-</span>
							<span>@result.DateTime</span>
						</span>
					</a>
				</div>


			}
		}

	</div>
}
else
{
	<h2>All Events:</h2>
	<div class="container">
		@foreach (var result in Model.SearchResults)
		{
			@if (result.TicketsSold >= result.Capacity)
			{
				<div>
					<span class="sold-out">
						<span>@result.Name</span>
						<span>@result.EventType</span>
						<span>@result.Location</span>
						<span>SOLD OUT</span>
					</span>
				</div>
			}
			else
			{
				<div>
					<a asp-page="/Member/Evenemang" asp-route-id="@result.Id">
						<span class="LeftInfo">
							<span>@result.Name</span>
							<span>@result.EventType</span>
						</span>
						<span class="RightInfo">
							<span>@result.Location</span>
							<span>@result.Price :-</span>
							<span>@result.DateTime</span>
						</span>
					</a>
				</div>
			}



		}

	</div>
}







