@page
@model Ticket_Hive.UI.Pages.Member.ConfirmationPageModel
@{
}

<div class="d-flex justify-content-between" style="width:100%">
    <h1 class="display-3 blueColor mt-3">Thank You For Your Order!</h1>
    <img src="/Images/logos/yellow only logo.png" class="blackLogo mt-3" />
</div>

<h3 class="p-1">Below Is A Confirmation Of Your Booking</h3>
<hr />

<div class="container">
    @foreach (var booking in Model.Shoppingcart.Bookings)
    {
        <p>Event: @booking.Event.Name</p>
        <p>Date: @booking.Event.DateTime.ToShortDateString()</p>
        <p>Number of tickets: @booking.NbrOfTickets</p>
        <p>Price per Ticket: @booking.Event.Price</p>
        <hr />
    }
    <p>Total Price: @Model.eventManager.TotalPriceInShoopingCart(Model.Shoppingcart)</p>
    <a class="btn btn-primary" asp-page="/Member/Home">Home</a>
</div>


