@page
@model Ticket_Hive.UI.Pages.Member.ConfirmationPageModel
@{
}

<div class="d-flex justify-content-between" style="width:100%">
    <h1 class="display-3 blueColor mt-3">Thank You For Your Order!</h1>
    <img src="/Images/logos/yellow only logo.png" class="blackLogo mt-3" />
</div>

<h3 class="p-1">Below Is A Confirmation Of Your Booking</h3>
<hr />

<div class="container">
    @foreach (var ev in Model.Events)
    {
        <p>Location: @ev.Location</p>
        <p>Price: @ev.Price</p>
        <p>Capacity: @ev.Capacity</p>
        <hr />
    }
    @foreach (var item in Model.Shoppingcart.Bookings)
    {
        <p>Event: @item.Event.Name</p>
        <p>Number Of Tickets: @item.NbrOfTickets</p>
        <hr />
    }

    <a class="btn btn-primary">Booking Page</a>
</div>


