@page
@model Ticket_Hive.UI.Pages.Member.EvenemangModel
@{
}

<div class="container">
    <div class="row">
        <button class="btn" asp-page="/Member/Home">Home</button>
    </div>
    <div class="row text-center">
        <h1>@Model.EventToShow.Name</h1>
        </div>
    <div class="row">
            <div class="col-12 col-md-6 d-flex justify-content-end">
                <img src="Model.Event.Image" class="pictureSizeBig"/>
            </div>
            <div class="col-12 col-md-6">
               <table>
                    <tr>
                        <td>Location: </td>
                        <td>@Model.EventToShow.Location</td>
                    </tr>
                    <tr>
                        <td>Date: </td>
                        <td>@Model.EventToShow.DateTime.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <td>Price: </td>
                        <td>@Model.EventToShow.Price Kr</td>
                    </tr>
                    <tr>
                        <td>Capacity: </td>
                        <td>@Model.EventToShow.Capacity</td>
                    </tr>
                    <tr>
                        <td>Tickets left: </td>
                        @if (@Model.EventManager.IsEventFullyBooked(Model.EventToShow))
                        {
                            <td class="text-danger">@Model.TicketsLeft</td>
                        }
                        else{
                        <td>@Model.TicketsLeft</td>
                        }
                    </tr>
                 </table>
            </div> 
    </div>
    <div class="row">
        <div class="col-12 text-center">
        @if (Model.EventManager.IsEventFullyBooked(Model.EventToShow))
        {
            <h4>Tickets are sold out</h4>
        }
        else
        {

        }
        </div>
    </div>
    <form method="post">
        <input type="hidden" asp-for="EventToShow" />
        <input type="hidden" asp-for="Id" />  
        <input type="hidden" asp-for="TicketsLeft" />
        <input type="hidden" asp-for="CookieManager" />
        <input type="hidden" asp-for="EventManager" />
        <input type="hidden" asp-for="ShoppingCart" />
        <input type="hidden" asp-for="AppUser" />
        <input type="number" max="@Model.TicketsLeft" min="1" value="1" asp-for="Tickets" />
        <input type="submit" class="btn" value="Add Tickets To Shopping Cart" />
    </form>
</div>