@page
@model Ticket_Hive.UI.Pages.Member.EventDetailsModel
@{
}

<h1>@Model.Event.Name</h1>
<p>Event Type: @Model.Event.EventType</p>
<p>Location: @Model.Event.Location</p>
<p>Date and Time: @Model.Event.DateTime</p>
<p>Price: @Model.Event.Price</p>
<p>Capacity: @Model.Event.Capacity</p>
<p>Tickets Sold: @Model.Event.TicketsSold</p>

<a class="btn btn-secondary" asp-page="Home">Back to Home</a>
