@page
@model Ticket_Hive.UI.Pages.Member.EvenemangModel
@{
}
<nav class="navbar navbar-expand-sm">
    <a asp-page="./Home" class="btn btn-primary me-1">Home</a>

    <a asp-page="./BookingPage" class="btn btn-primary me-1">Show Events</a>
    <a asp-page="./ShoppingCartPage" class="btn btn-primary me-1">Shopping Cart</a>
    <a asp-page="./ChangePassword" class="btn btn-primary me-1">User Page</a>

    <form method="post" asp-page-handler="SignOut">
        <button class="btn btn-primary" type="submit">Sign Out</button>
    </form>
</nav>

<div class="container">
    <div class="row text-center">
        <h1>@Model.EventToShow.Name</h1>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 d-flex justify-content-end border-end border-2 border-dark">
            <img src="@Model.EventToShow.Image" class="pictureSizeBig rounded rounded-3" />
        </div>
        <div class="col-12 col-md-6">
            <table>
                <tr>
                    <td>Location: </td>
                    <td>@Model.EventToShow.Location</td>
                </tr>
                <tr>
                    <td>Date: </td>
                    <td>@Model.EventToShow.DateTime.ToShortDateString()</td>
                </tr>
                <tr>
                    <td>Price: </td>
                    <td>@Model.EventToShow.Price Kr</td>
                </tr>
                <tr>
                    <td>Capacity: </td>
                    <td>@Model.EventToShow.Capacity</td>
                </tr>
                <tr>
                    <td>Tickets left: </td>
                    @if (@Model.EventManager.IsEventFullyBooked(Model.EventToShow))
                    {
                        <td class="text-danger">@Model.TicketsLeft</td>
                    }
                    else
                    {
                        <td>@Model.TicketsLeft</td>
                    }
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            @if (Model.EventManager.IsEventFullyBooked(Model.EventToShow))
            {
                <h4>Tickets are sold out</h4>
            }
            else
            {
                <form method="post">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="TicketsLeft" />
                    <input type="number" max="@Model.TicketsLeft" min="1" value="1" asp-for="Tickets" />
                    <input type="submit" class="btn" value="Add Tickets To Shopping Cart" />
                </form>
            }
        </div>
    </div>
</div>