@page 
@model Ticket_Hive.UI.Pages.Member.HomeModel
@{
}
<!DOCTYPE html>
<html lang="en">
<body> 
    <nav class="navbar justify-content-center">
        <h1 id="title" class="me-5">TicketHive</h1>
        <a asp-page="./Home" class="btn btn-primary me-2">Home</a>
        <a asp-page="./BookingPage" class="btn btn-primary me-2">Show Events</a>
        <a asp-page="./ShoppingCartPage" class="btn btn-primary me-2">Shopping Cart</a>
        <a asp-page="./ChangePassword" class="btn btn-primary me-2">User Page</a>

        @if (Model.IsAdmin && User.Identity.IsAuthenticated)
        {
            <a asp-page="/AppPages/Admin" class="btn btn-primary me-2">Admin Page</a>
        }
        else
        {
            <button class="btn btn-primary me-2" disabled>Admin Page</button>
        }

        <form method="post" asp-page-handler="SignOut">
            <button class="btn btn-primary me-5" type="submit">Sign Out</button>
        </form>
        <form id="searchForm" method="get" asp-page="/Member/BookingPage">
            <input id="searchbar" type="text" name="search" placeholder="Keyword" />
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </nav>
    <div class="row mt-3 container">
        <div class="col-12">
    @if (Model.popularEvents != null)
    {
                <h2 class="popular-events">What's Hot</h2>
                <hr />
                <div class="row movie-list d-flex">
                    @foreach (var eventToDisplay in Model.popularEvents)
                    {         
                                        <div class="image-container col-4 text-center">
                                            <h4>@eventToDisplay.Name</h4>
                                            <img class="pictureSizeHome" src="@eventToDisplay.Image" />
                                            <br>
                                            <a class="btn btn-primary m-1" asp-page="Evenemang" asp-route-id="@eventToDisplay.Id">Read more</a>
                                        </div>
                    }
                    <hr />

                </div>
    }
    </div>
    </div>
    <div class="row container">
         <div class="col-12">
    @if (Model.ConfirmedBookings != null && Model.ConfirmedBookings.Any())
    {
            <h2 class="booked-events ">Your confirmed bookings</h2>
            <hr />
            <div class="movie-list">
                @foreach (var booking in Model.ConfirmedBookings)
                {
                        <div class="image-container border-bottom border-dark  p-2">
                            <h3>@booking.Event.Name</h3>
                            <p>Event Date: @booking.Event.DateTime.ToShortDateString()</p>
                             <p>Tickets booked: @booking.NbrOfTickets</p>
                        </div>
                }
            </div>
    }
        </div>
     </div>   
        
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const searchbar = document.getElementById('searchbar');
                const searchForm = document.getElementById('searchForm');

                searchForm.addEventListener('submit', function(e) {
                    if (searchbar.value.trim() === '') {
                        e.preventDefault();
                    }
                });
            });
        </script>

</body>
</html>