@page 
@model Ticket_Hive.UI.Pages.Member.HomeModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <h1 id="title">TicketHive</h1>

</head>
<body>
    <div class="row">
        <div class="col-12">
    <nav class="navbar navbar-expand-sm">
        <a asp-page="./BookingPage" class="btn btn-primary me-1">Show Events</a>
        <a asp-page="./ShoppingCartPage" class="btn btn-primary me-1">Shopping Cart</a>
        <a asp-page="./ChangePassword" class="btn btn-primary me-1">User Page</a>

        @if (Model.IsAdmin && User.Identity.IsAuthenticated)
        {
            <a asp-page="/AppPages/Admin" class="btn btn-primary me-1">Admin Page</a>
        }
        else
        {
            <button class="btn btn-primary me-1" disabled>Admin Page</button>
        }

        <form method="post" asp-page-handler="SignOut">
            <button class="btn btn-primary" type="submit">Sign Out</button>
        </form>
    </nav>
    </div>
    </div>
    <div class="row">
        
            <div class="col">
                <div class="search container ">
                    <form id="searchForm" method="get" asp-page="/Member/BookingPage">
                        <input id="searchbar" type="text" name="search" placeholder="Keyword" />
                        <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                </div>
            </div>
    </div>
    
    <div class="row m-5">
        <div class="col-12">
    @if (Model.popularEvents != null)
    {
                <h2 class="popular-events">What's Hot</h2>
                <hr />
                <div class="row movie-list">
                    @foreach (var eventToDisplay in Model.popularEvents)
                    {         
                                        <div class="image-container col-3 border border-dark border-2 p-2 m-2">
                                            <h4>@eventToDisplay.Name</h4>
                                            <img class="pictureSizeBig" src="@eventToDisplay.Image" />
                                            <br>
                                            <a class="btn btn-primary" asp-page="Evenemang" asp-route-id="@eventToDisplay.Id">Read more</a>
                                        </div>
                    }
                </div>
    }
    </div>
    </div>
    <div class="row">
         <div class="col-12">
    @if (Model.ConfirmedBookings != null && Model.ConfirmedBookings.Any())
    {
        <div class="d-flex flex-row">
            <h1 class="booked-events">Your confirmed bookings:</h1>
            <div class="row movie-list">
                @foreach (var booking in Model.ConfirmedBookings)
                {
                        <div class="image-container border border-dark border-2 p-2 m-2">
                            <h3>@booking.Event.Name</h3>
                            <p>Event Date: @booking.Event.DateTime.ToShortDateString()</p>
                             <p>Tickets booked: @booking.NbrOfTickets</p>
                        </div>
                }
            </div>
        </div>
    }
        </div>
     </div>   
        
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const searchbar = document.getElementById('searchbar');
                const searchForm = document.getElementById('searchForm');

                searchForm.addEventListener('submit', function(e) {
                    if (searchbar.value.trim() === '') {
                        e.preventDefault();
                    }
                });
            });
        </script>

</body>
</html>